:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    max-width: 1280px;
    padding: 2rem;
}

.strike {
    text-decoration: line-through;
}

.space-top {
    margin-top: 50px;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

    a:hover {
        color: #535bf2;
    }

body {
    margin: 0;
    display: flex;
    min-width: 320px;
    min-height: 100vh;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

input, select {
    padding: 0.6em 1.2em;
    box-sizing: border-box;
}

    button, input[type=button] {
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 0.6em 1.2em;
        margin-left: 2px;
        font-weight: 500;
        font-family: inherit;
        background-color: #1a1a1a;
        cursor: pointer;
        transition: border-color 0.25s;
    }

        button:hover {
            border-color: #646cff;
        }

        button:focus,
        button:focus-visible {
            outline: 4px auto -webkit-focus-ring-color;
        }

        button[disabled] {
            cursor: not-allowed;
        }

            button[disabled]:hover {
                border-color: initial;
            }

ul {
    list-style-type: none;
    padding-left: 0em;
}

nav li {
    display: inline-block;
    padding-right: 15px;
}

select {
    min-width: 205px;
}

.responsive-columns {
    display: flex;
    flex-direction: row;
}

    .responsive-columns .column:nth-child(2) {
        margin-left: 20px;
        padding-left: 20px;
        border-left: solid 1px;
    }

.edit-item {
    padding: 5px;
    border-radius: 10px;
}

    .edit-item form {
        margin: 20px;
    }

    .edit-item .edit-item-fields > div {
        text-align: right;
    }

.item-children {
    border-left: 1px solid green;
    margin-left: 1em;
}

.item-picker {
    display: grid;
    place-content: stretch stretch;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 35px 130px 130px 130px;
    gap: 3px 3px;
    max-width: 600px;
}

    .item-picker input {
        width: 100%;
    }

    .item-picker button {
        position: relative;
    }

        .item-picker button .item-picker-number {
            position: absolute;
            left: 10px;
            top: 10px;
        }

        .item-picker button .item-picker-stock {
            position: absolute;
            right: 10px;
            bottom: 10px;
        }

.print-visible {
    display: none;
}

.print-order tfoot th, .print-order tbody td:nth-child(3), .print-order tbody td:nth-child(4) {
    text-align: right;
}

.sold-items tr td:nth-child(2) {
    text-align: center;
}

.sold-items tr td:nth-child(3) {
    text-align: right;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }

    button, input[type=button] {
        background-color: #ece9e9;
    }
}

@media (max-width: 620px) {
    .responsive-columns {
        flex-direction: column;
    }

        .responsive-columns .column:nth-child(2) {
            margin-left: 0;
            padding-left: 0px;
            border-left: none;
        }
}

@media print {
    #root {
        padding: 0;
    }

    nav {
        display: none;
    }

    .print-invisible {
        display: none;
    }

    .print-visible {
        display: inline-block;
    }

    .page-break {
        page-break-after: always;
    }
}
